
body {
    font-family: "Roboto", sans-serif;
    margin: 20px;
    // background-color: #FF916A;
}
#screen {
    border: 1px solid #d1d1d1;
}
.recipe-name {
    width: 277px;
}
.btn-add {
    font-family: "Roboto", sans-serif;
    color: black;
}
textarea {
    width: 270px;
    height: 270px;
}
.ingredients {
    background-color: white;
    padding:10px;
    label {
        font-weight: bold;
    }
}

@mixin gradient($browserProperty, $direction) {
  background: #{$browserProperty + "("}$direction, #dbdbdb 0%, #f4f4f4 50%, #d1d1d1 100%#{")"};
}
ul {
    list-style-type: none;
    padding: 0px;
    .header {
        background: royalblue !important;
        color: white;
        font: 14pt "Kaushan Script", cursive;
        padding: 20px;
    }
    li {
        .recipe {
            padding: 20px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a7a7a+0,dbdbdb+6,f4f4f4+50,d1d1d1+94,7a7a7a+100 */
            background: #7a7a7a; /* Old browsers */
            @include gradient("-moz-linear-gradient", top); /* FF3.6-15 */
            @include gradient("-webkit-linear-gradient", top);
            @include gradient("-linear-gradient", to bottom);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#7a7a7a',GradientType=0 ); /* IE6-9 */
        }
    }
}